:host{
    display:grid;
    padding:10px;
    /* grid-template-columns: 1fr 2fr 1fr; */
}

 
@media(min-width:760px){
    :host{
    grid-template-columns:1fr 4fr 1fr;
    
  }

}
@media(min-width:1024px){
    :host{
    grid-template-columns:1fr 2fr 1fr;
    
  }
}
.buy-button{
   width: 100%;
    display: flex;
    justify-content: center;
}
.buy{
    padding:5px 10px;
    border:2px solid var(--primary-color);
    color:var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    /* width: fit-content; */
}
.buy:hover{
    background-color: var(--primary-color);
    color:white;
}
.label{
    background: grey;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin:10px 0;
    color:white;
    padding:5px;
}
