<div></div>
<div>
    <ng-template [ngIf]="cartItems.length >0">
         <div class="label">Items In Cart</div>
         <app-cart-item [endtext]="'Remove'" (onend)="removeFromCart(item)" *ngFor="let item of cartItems" [item]="item"></app-cart-item>
         <div class="buy-button" >
         <div class="buy" (click)="openModal('payment-modal')">
              Buy Now
        </div> 
    </div>
    </ng-template>
    <ng-template [ngIf]="orderedItems.length > 0">
         <div class="label" >Ordered Items</div>
         <div>Your orders will be on your doorstesp within an hour. Please be patient.</div>
        <app-cart-item [endtext]="'Cancel'" *ngFor="let item of orderedItems" [item]="item"></app-cart-item>
    </ng-template>
 </div>
<div></div>
<jw-modal id="payment-modal"  >
    <app-payment-form></app-payment-form>
 </jw-modal>
