<div></div>
<div>
    <div class="label" *ngIf="cartItems.length > 0">Items In Cart</div>
    <div class="tile" *ngFor="let item of cartItems">
        <div class="img">
            <img [src]="item.item.imageUrls[0]">
        </div>
        <div class="middle">
            <div class="name">{{item.item.name}}</div>
            <div>Quantity : {{item.quantity}} , <span>
               <span>
                Price :
               </span>  Rs. {{item.price}}
            </span></div>
            
        </div>
        <div class="end" (click)="removeFromCart(item)">
            Remove
        </div>
    </div>
    <div class="buy-button" *ngIf="cartItems.length > 0">
       <div class="buy" (click)="openModal('payment-modal')">
        Buy Now
       </div> 
    </div>
    <div class="label" *ngIf="orderedItems.length > 0">Ordered Items</div>
    <div class="tile" *ngFor="let item of orderedItems">
        <div class="img">
            <img [src]="item.item.imageUrls[0]">
        </div>
        <div class="middle">
            <div class="name">{{item.item.name}}</div>
            <div>Quantity : {{item.quantity}} , <span>
               <span>
                Price :
               </span>  Rs. {{item.price}}
            </span></div>
            
        </div>
        <div class="end">
            Cancel
        </div>
    </div>
</div>
<div></div>
<jw-modal id="payment-modal"  >
    <app-payment-form></app-payment-form>
 </jw-modal>
