<div class="stars-border">
  <span (click)="setStar(1)"> 
    <i class="far fa-star" ></i>
  </span>
  <span (click)="setStar(2)"> 
    <i class="far fa-star" ></i>
  </span>
  <span (click)="setStar(3)"> 
    <i class="far fa-star" ></i>
  </span>
  <span (click)="setStar(4)"> 
    <i class="far fa-star" ></i>
  </span>
  <span (click)="setStar(5)"> 
    <i class="far fa-star" ></i>
  </span>
  <div class="stars-filled" [style.width]="starPercentageRounded">
    <span (click)="setStar(1)"> 
      <i class="fas fa-star" ></i>
    </span>
    <span (click)="setStar(2)"> 
      <i class="fas fa-star" ></i>
    </span>
    <span (click)="setStar(3)"> 
      <i class="fas fa-star" ></i>
    </span>
    <span (click)="setStar(4)"> 
      <i class="fas fa-star" ></i>
    </span>
    <span (click)="setStar(5)"> 
      <i class="fas fa-star" ></i>
    </span>
  </div>
</div>