
.card{
  border-radius:7px;
  display:grid;
  /* padding:20px; */
  position:relative;

}
.card .img{
 height:400px; 
  object-fit:cover;
  text-align:center;

}

.img img{
  width:100%;
  height:100%;
  object-fit:cover;

}
.detail .buttons{
  display:flex;
}
.detail .cart-button,.buy-button{
  padding:5px 10px;
  background-color: grey;
  color:white;
  margin-top: 10px;
  width: fit-content;
  cursor: pointer;

}
.buy-button{
  background-color: rgb(9, 214, 9);
  margin-left:10px;
}

.detail .cart-button:hover{
  background-color: var(--primary-color);
}
.card .price{
  margin-top:10px;
  color:var(--primary-color)

}
.card .price span{
  font-size:20px;
  font-weight:bold;
}


.card .name{
  font-size:22px;
  font-size:bolder;
  letter-spacing:1px;
  margin-bottom:15px;
}
.card .desc{
  font-size:.9rem;
  margin-top:5px;
  color:#333333;
}

:host{
  padding:1rem;
  display:grid;
  grid-gap:2rem;

}
.stars{
 font-weight:bold;
 color:#333333;
}

input{
  margin:5px;
  padding:5px;
  width:50px;
  border:none;
  border-bottom: 1px solid grey;
  outline: none;
}

@media(min-width:900px){
.card{
  grid-gap:2rem;
  grid-template-columns: 2fr 3fr;  }
}


/*Related to tile*/
.tile{
  display:grid;
  grid-template-columns: 2fr 5fr 4fr;
  align-items: center;
  /* justify-content: space-between; */
  box-shadow:1px 2px 5px #aaaaaa;
  border-radius: 10px;
  margin-bottom: 10px;
  padding:5px;
}
.tile .desc{
  font-size: .9rem;
}
.tile .name{
  font-size:18px;
  font-size:bolder;
  letter-spacing:1px;
  margin-bottom:5px;
}
.tile .middle{
  margin-left:5px;
}
.tile .img{
  height:80px;
  width: 80px;
  object-fit: cover;
}
.tile .end{
  
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-radius: 10px;
  padding:0 5px;
  cursor: pointer;
}
.tile .img img{
  width:100%;
  height:100%;
  border-radius: 50%;
  object-fit:cover;

}


/*reivews*/
.reviews{
  display:grid;
}
@media(min-width:760px){
  .reviews{
  grid-template-columns:1fr 4fr 1fr;
  
}

}
@media(min-width:1024px){
  .reviews{
  grid-template-columns:1fr 2fr 1fr;
  
}
}
textarea{
  width:calc(100% - 40px);
  padding:20px;
  border-radius: 20px;
  border:1px solid var(--primary-color);
  outline: none;
}

button{
  background: none;
  width: 100%;
  border:2px solid var(--primary-color);
  outline: none;
  color:var(--primary-color);
  padding:10px .3rem;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  /* font-size: 20px; */
  font-weight: 600;
}
button:hover{
  background: var(--primary-color);
  color:white;
}
