<div class="card">
  <div class="img">
    <img [src]="item.imageUrls[0]">
  </div>
  <div class="detail">
    <div class="name">
      {{item.name | uppercase}}

    </div>
    <div class="price">
      Rs. <span>
        {{item.price}}
      </span>
     </div>

    <div class="desc">
      {{item.description}}
      <br> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni 
    </div>
    <br>
    <div class="stars">
      <app-stars rating={{item.rating}}></app-stars>
      <span> {{item.rating}}</span>
    </div>
<div >
  Quantity : <input [(ngModel)]="quantity" min="0" value="1" type="number">
</div>
<div class="buttons">

  <div *ngIf="!itemAdded;else itemAddedDiv" class="cart-button" (click)="addToCart()">
    Add To Cart
  </div>
  <ng-template #itemAddedDiv>
    <div class="cart-button" [style.background]="itemAdded?'var(--primary-color)':''">
      Item Added To Cart
    </div>
  </ng-template>
  <!-- <div class="buy-button">
    Buy Now
  </div> -->
</div>
  </div>
</div>
<div class="label">Reviews</div>
<div class="reviews">

  <div></div>
  <div class="middle">
    <div>
      Send Your Rating : <app-stars [rating]="myRating" [clickable]=true (starClick)="starClick($event)"></app-stars>
     
      <div *ngIf="showTextarea">
        <div >Your Comment</div>
        <textarea [(ngModel)]="myReview"></textarea>
        <button (click)="saveReview()">Save</button>
      </div>
    </div>
    <br>
    <div class="tile" *ngFor="let review of item.review">
     
      <div class="img">
          <img [src]="review.imageUrl">
      </div>
      <div class="middle">
          <div class="name">{{review.name}}</div>
          <div>{{review.review}} , <span> 
          </span></div>
      </div>
      <div class="end">
          <app-stars [rating]="review.stars"></app-stars>
      </div>
    </div>
  </div>
  <div></div>
</div>