@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
  margin:0;
  padding:0;
}

:root{
  --primary-color:orangered;
  --nav-height:50px;
  --footer-height:20px;
  --nav-z-index:10;
  --overlay-background:#000000aa;
}
body{
  font-family: "Poppins";
}
router-outlet + *{
  padding:70px 20px  !important;
}